// ================================================================================================================================================================================================================================================================================================================================
// VARS \\
@import './assets/scss/vars';
// VARS \\
// ================================================================================================================================================================================================================================================================================================================================
// FONTS \\
$fontFamily: 'Arial';
$fontSize: 16;
$fontWeight: 400;
$mainColor: #fff;
// FONTS \\
// ================================================================================================================================================================================================================================================================================================================================
// RESET STYLES \\
@import './assets/scss/reset';
// RESET STYLES \\
// ================================================================================================================================================================================================================================================================================================================================
// UI \\
@import './assets/scss/ui';
// UI \\
// ================================================================================================================================================================================================================================================================================================================================
